#backend
BACKEND_PORT=
BACKEND_ENV=
BACKEND_SECRET_KEY=
BACKEND_DATABASE_HOST=
BACKEND_DATABASE_PORT=
BACKEND_DATABASE_NAME=
BACKEND_DATABASE_USER=
BACKEND_DATABASE_PASSWORD=

#frontend
FRONTEND_PORT=
REACT_APP_API_URL=

#MariaDB
MARIADB_ROOT_PASSWORD= 
MARIADB_DATABASE=            
MARIADB_USER=              
MARIADB_PASSWORD=          

#Nginx
NGINX_HOST=
NGINX_PORT=
