MYSQL_ROOT_PASSWORD=oui
MYSQL_DATABASE=non
MYSQL_USER=peut-etre
MYSQL_PASSWORD=flemme

REACT_APP_URL_FRONTEND=http://localhost:3000
REACT_APP_URL_BACKEND=http://localhost:5000

# JWT_SECRET=feur
# JWT_SECRET_ACCESS=feur
# JWT_SECRET_REFRESH=feur